html, body{
    margin: 0;
    padding: 0;
    background-color: #FFFBF2;
    height: 100%;
    font-family: sans-serif;
}

/*************************** NAV ****************************/

.nav-menu-banner-index{
    height: 60%;
    background-color: #e6ffd7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-menu-banner{
    height: 60%;
    background-color: #e6ffd7;
}

.img-nav{
    width: 40%;
    height: 80%;
    padding-top: 68px;
}

.sob-img-nav::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    bottom: -1px;
    background: url(../img/sob-img-nav.png);
}

.menu-banner{
    position: absolute;
    width: 100%;
    height: inherit;
}

.menu-list{
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.2rem;
    display: flex;
    height: 30%;
}

.logo-link{
    width: 28%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.img-link{
    width: 25%;    
}

.menu-link{
    width: 70%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
}

.menu-item{
    padding-left: 14px;
    padding-right: 15px;
    text-decoration: none;
    color: #317f54;
    font-weight: bold;
}

.item-dropdown{
    position: absolute;
    background-color: #fff;
    margin-left: 1%;
    width: 13%;
}

.item-dropdown.login{
    width: 10%;
}

.drop-item{
    text-decoration: none;
    color: #212529;
    display: block;
    text-indent: 6%;
}

.item-dropdown.menu{
   display: none;
}

.item-dropdown.login{
    display: none;
}

.menu-item:hover {
    color: #ff9200;
}

.drop-item:hover{
    background-color: #166f10;
    color: #ff9200;
    font-family: sans-serif;
    font-weight: bold;
 }

.menu-item.menu:focus + .item-dropdown.menu{
    display: block;
}

.item-dropdown.menu:hover{
    display: block;
}

.menu-item.Login:focus + .item-dropdown.login{ 
    display: block;
}

.item-dropdown.login:hover{ 
    display: block;
}

.txt-banner-index{
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: center;
    flex-direction: column;
}

.txt-banner{
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: center;
    flex-direction: column;
}

.txt-l2{
    font-size: 70px;
    letter-spacing: 20px;
    text-align: center;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
}

.txt-title{
    font-size: 60px;
    letter-spacing: 20px;
    text-align: center;
}



/*************************** SECTION ****************************/

.pst-title{
    text-align: center;
    letter-spacing: 4px;
}

.pst-lst-map{
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lst-pst{
    width: 20%;
    letter-spacing: 2px;
    font-weight: bold;
}

.lst-title{
    font-size: 26px;
}

.lst-cb{
    -webkit-transform: scale(2);
    margin: 16px;
}

.lst-txt-pst{
    font-size: 20px;
}

.map-txt{
   font-size: 21px;
    font-weight: bold;

}

.pst-map{
    background-color: green;
    width: 76%;
    height: 400px;
}

.map-pst1{
    display: block;
}


.map-pst2{
    display: none;
}


.map-pst3{
    display: none;
}




/*************************** FOOTER ****************************/

.footer-banner{
    height: 30%;
}

.sob-img-footer::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 15px;
    background: url(../img/sob-img-footer.png);
}

.ftr-bnr-inf{
    width: 100%;
    height: inherit;
    position: absolute;
    color: #317f54;
    background-color: #e6ffd7;
}

.ftr-inf{
    height: 84%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.list-inf{
    width: 24%;
    height: 88%;
}

.inf-title{
    font-size: 26px;
    text-transform: uppercase;
    margin: 0.1rem;
}

.inf-txt{
    letter-spacing: 2px;
    margin: 10px 12px;
    font-size: 14px;
}

.inf-ico {
    letter-spacing: 6px;
}

.inf-ico:hover, .con-txt:hover, .inf-txt.end:hover{
    color: #ff9200;
}

.inf-txt.red{
    font-size: 40px;
}

.link-red{
    color: #317f54;
}

.footer-corp{
    display: flex;
    height: 16%;
}
.corp-txt{
    margin: auto;
}